{{!-- BEGIN-SNIPPET demo-menu-list-sizes.hbs --}}
{{#docs-demo as |demo|}}
  {{#demo.example name='demo-menu-list-sizes.hbs'}}
    <div class="dib">

      {{#ui-menu-list style=size size=size class="dib" as |menu|}}
        {{menu.listItem title="All Comments"}}
        {{menu.listItem title="Controls"}}
        {{menu.listItem title="Tests"}}
      {{/ui-menu-list}}

    </div>

    <div class="dib">

      {{#ui-menu-list style=size size=size class="dib" as |menu|}}
        {{#menu.listItem}}
          <i class="material-icons">picture_as_pdf</i>All Comments
        {{/menu.listItem}}
        {{#menu.listItem}}
          <i class="material-icons">attach_file</i>Attach File
        {{/menu.listItem}}
        {{#menu.listItem}}
          <i class="material-icons">mail</i>Mail
        {{/menu.listItem}}
      {{/ui-menu-list}}

    </div>

    <br>

    <button onclick={{action (mut size) 'small'}} class='docs-btn'>
      Small
    </button>
    <button onclick={{action (mut size) 'medium'}} class='docs-btn'>
      Medium
    </button>
    <button onclick={{action (mut size) 'large'}} class='docs-btn'>
      Large
    </button>
  {{/demo.example}}
  {{demo.snippet 'demo-menu-list-sizes.hbs'}}
{{/docs-demo}}
{{!-- END-SNIPPET --}}
